.container {
  max-width: 1200px; /* Maksymalna szerokość kontenera */
}

/* Separator */
.divider {
  width: 2px;
  background-color: #d1d5db; /* Jasnoszary kolor separatora */
}
.clip-path-polygon {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}
