.container {
  max-width: 1200px;
}

.swiper {
  border: 2px solid var(--color-yellow);
}

.swiper-slide img {
  transition: transform 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}
