@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  overflow-x: hidden; /* Zablokowanie przewijania w poziomie */
  margin: 0;
  padding: 0;
  background-color: #151924;
  font-family: "Winky Sans", sans-serif;
}

/* Dla przeglądarek opartych na WebKit (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #151924;
}

body::-webkit-scrollbar-thumb {
  background-color: #fbbf24;
  border-radius: 10px;
  border: 2px solid #151924;
}

/* Dla przeglądarki Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #fbbf24 #151924;
}
