@import "tailwindcss";

html,
body {
  overflow-x: hidden; /* Zablokowanie przewijania w poziomie */
  margin: 0; /* Usuń domyślne marginesy */
  padding: 0; /* Usuń domyślne odstępy */
  background-color: #151924; /* Kolor tła */
}

/* Dla przeglądarek opartych na WebKit (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 8px; /* Szerokość całego scrollbara */
}

body::-webkit-scrollbar-track {
  background: #151924; /* Kolor tła scrollbara */
}

body::-webkit-scrollbar-thumb {
  background-color: #fbbf24; /* Kolor uchwytu scrollbara */
  border-radius: 10px; /* Zaokrąglenie uchwytu */
  border: 2px solid #151924; /* Obramowanie wokół uchwytu */
}

/* Dla przeglądarki Firefox */
body {
  scrollbar-width: thin; /* Cienki scrollbar */
  scrollbar-color: #fbbf24 #151924; /* Kolor uchwytu i tła */
}
